@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;700&display=swap');

@font-face {
  font-family: "Sundry";
  src: url('./font/Sundry-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: "Sundry";
  src: url('./font/Sundry-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: "Sundry";
  src: url('./font/Sundry-Bold.otf') format('opentype');
  font-weight: 700;
}

/* Medias */
$phone: 425px;
$tablet: 768px;
$desktop: 1024px;

/* Colors */
$primary: #EEF0F2;
$secondary: #7f7f7f;
$white: rgb(255, 255, 255);
$light-gray: rgb(237, 237, 237);

// Other colors
$lightPink: #FFF2F2;
$mediumPink: #FFF2F2;
$darkbeige: #9C7875;
$brown: #BC7A6B;
$gray: #5c5c5c;

/* Fonts */
$title: 'Sundry', 'Archivo Narrow', sans-serif;
$text: 'Sundry', 'Archivo Narrow', sans-serif;

/* Mixins */
@mixin type($weight: regular, $font: $text) {
  font-weight: map-get(
    (
      regular: 400,
      bold: 500,
      extrabold: 700,
    ), $weight
  );
  font-family: $font;
}
@mixin border-text($color: #fff) {
  text-shadow: 2px 0 $color, -2px 0 $color, 0 2px $color, 0 -2px $color,
    1px 1px $color, -1px -1px $color, 1px -1px $color, -1px 1px $color;
}
@mixin transition($velocity: 'medium', $item: all, $animation: ease-in-out) {
  transition: map-get(('fast': $item $animation 0.1s,
        'medium': $item $animation 0.25s,
        'slow': $item $animation 0.5s,
      ), $velocity);
}
@mixin no-select() {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* CSS */
body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include type(regular, $text);
  background-color: black;
  color: $primary;
}

h1, h2, h3, h4, h5, h6 {
  @include type(extrabold, $title)
}

h1 {
  font-size: 34pt;
  padding: 5px;
}

p, a {
  text-decoration: none;
  color: $primary;
  @include type('regular', $text)
}

.btn {
  /* width: 88%; */
  padding: 5px 20px;
  margin: 0 auto;
  border-radius: 2px;
  border: 0;
  background-color: $primary;
  color: black;
  font-size: 12pt;
  border: 0;
  cursor: pointer;
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
  @include type(extrabold, $title);
  @include transition();
  &.icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: $primary;
    &.off {
      background-color: transparent !important;
      box-shadow: 0 0 0px 0px rgba(0,0,0,0);
      padding: 10px 0;
      span {
        color: $primary;
      }
    }
    span {
      font-size: 24pt;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
    }
  }

  &:disabled {
    opacity: 20%;
    cursor: not-allowed;
  }
  &:hover {
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.3);
  }
}

.page {
  text-align: center;
  margin: 10px auto;
  width: 100%;
  .text {
    @include type(regular, $text);
    font-size: 20pt;
    padding: 5px;
  }
}

/* Loading animation */

@keyframes loading-bar {
  0%  {margin-left: 0;}
  50% {margin-left: 70%;}
  100% {margin-left: 0%;}
}

@mixin loading-animation() {
  animation-name: loading-bar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Input & Forms */

.input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: transparent !important;
  padding: 5px;
  margin: 5px;
  min-height: 40px;
  position: relative;
  border-radius: 10px;

  label {
    font-size: 12pt;
    @include type(bold, $title);
    padding-right: 5px;
    padding-bottom: 5px;
    color: $primary;
    display: flex;
    .boolean {
      width: 40px !important;
      border: 1px solid $primary;
      margin: 0 5px;
      border-radius: 50px;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
      @include transition();
      .off-on {
        position: relative;
        flex: 1;
        width: 50%;
        height: 100%;
        background-color: rgb(150,150,150);
        text-align: center;
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
        @include transition();
      }
      &:hover {
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
        .off-on {
          background-color: rgb(114, 149, 123);
        }
      }
    }
  }

  input {
    flex: 1;
    text-align: left;
    width: 100%;
    outline: none;
    color: $primary;
    background-color: black;
    border: 1px solid $primary;
    border-radius: 3px;
    padding: 3px;

    &[type='checkbox'] {
      display: none;
      width: 100%;
      &:checked + label {
        .boolean {
          .off-on {
            background-color: rgb(0, 178, 42);
            margin-left: 50%;
            /* float: right; */
          }
        }
      }
    }
  }

  button {
    position: absolute;
    right: 0;
    margin-right: 3px;
    color: $primary;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    @include transition();
    padding: 5px;
    border-radius: 100px;
    &:hover {
      background-color: $light-gray;
    }
    &:disabled {
      cursor: default;
      color: $light-gray;
      &:hover {
        background-color: transparent;
      }
    }
  }

  textarea {
    flex: 1;
    text-align: left;
    width: 100% !important;
    outline: none;
    color: $primary;
    background-color: black;
    border: 1px solid $primary;
    border-radius: 3px;
    padding: 3px;
    resize: none;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      display: none;
      &:checked + label {
        background-color: $primary;
        color: #fff;
      }  
    }
    label {
      background-color: $secondary;
      color: #000;
      @include transition();
      cursor: pointer;
      padding: 5px;
      margin: 2px;
      border-radius: 5px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }
  }

  select {
    flex: 1;
    border: 2px solid transparent;
  }

  .file {
    flex: 1;
    input[type="file"] {
      display: none;
    }
    label {
      background-color: $primary;
      color: #FFF;
      text-transform: uppercase;
      text-align: center;
    }
    .list {
      width: 100%;
      display: block;
      li {
        &>span {
          padding: 5px;
          margin: 5px 0;
          box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
          width: 100%;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px solid transparent;
          &.over {
            border: 3px solid $primary;
          }
          &:hover {
            @include transition();
            cursor: pointer;
          }
          .sequence {
            z-index: -1;
          }
          .name {
            flex: 1;
            z-index: -1;
          }
          button {
            display: inline-block;
            position: relative;
            background-color: $primary;
          }
        }
      }
    }
  }
  .wysiwyg {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .buttons {
      text-align: center;
      button {
        position: relative;
        display: inline-flex;
      }
    }
    .editor {
      border: 2px solid $primary;
      width: 100%;
      max-width: 100%;
      overflow: auto;
      min-height: 200px;
    }
  }
}